<p [ngStyle]="{ color: 'tomato', fontWeight: 'bold' }">Elements list:</p>

<p ngClass="underlined">
  We are going to iteract in a list and render some elements
</p>

<p [ngClass]="['underlined', 'big']">Texto con estilo</p>

<p [ngClass]="{ underlined: false, big: true }">Texto con estilo</p>

<!-- BLOQUE DE DIRECTIVAS ESTRUCTURALES -->

<button (click)="changeLoading()">
  {{ loading ? "Finish load" : "Start load" }}
</button>

<p *ngIf="loading">Loading...</p>

<ng-container *ngIf="!loading; else templateWait">
  <p>All OK</p>
</ng-container>
<ng-template #templateWait>
  <p>Wait to finish the process</p>
</ng-template>

<!-- BLOQUE USO DE NGFOR -->

<div
  *ngFor="let product of elementsList; let i = index; let even = even"
  [ngStyle]="even ? { background: 'tomato' } : { background: 'lime' }"
  [ngClass]="{ big: true }"
>
  <p>ID: {{ i + 1 }}</p>
  <p>{{ product.name }} - {{ product.price }}</p>
  <p>{{ product.description }}</p>
</div>
